/*RESET*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html{
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td{
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote{
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after{
    content: "";
    content: none;
}

a img{
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{
    display: block;
}

*{
    box-sizing: border-box;
    text-decoration: none;
}
/*BODY*/
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}
    .container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 98%;
        width: 97.8%;
        font-family: 'Lato', sans-serif;
        color: white;
        font-weight: lighter;
        font-size: 5vh;
    }
        ul{
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;
            overflow: hidden;
        }
            li{
                display: flex;
                justify-content: center;
                align-items:center;
                height: 100%;
                width: 19.80%;
                overflow: hidden;
            }
                .IT{
                    background: #244F75;
                    animation-name: IT;
                    animation-duration: 0.2s;
                    animation-direction: normal;
                    animation-iteration-count: 1;
                }
                .A{
                    background: #60BFBF;
                    animation-name: A;
                    animation-duration: 0.4s;
                    animation-direction: normal;
                    animation-iteration-count: 1;
                }
                .CA{
                    background: #8C4B7E;
                    animation-name: CA;
                    animation-duration: 0.6s;
                    animation-direction: normal;
                    animation-iteration-count: 1;
                }
                .DE{
                    background: #F8BB44;
                    animation-name: DE;
                    animation-duration: 0.8s;
                    animation-direction: normal;
                    animation-iteration-count: 1;
                }
                .MY{
                    background: #F24B4B;
                    animation-name: MY;
                    animation-duration: 1s;
                    animation-direction: normal;
                    animation-iteration-count: 1;
                }
                    .fa-heart::before {
                        font-size: 3.5vh;
                    }
                    li p{
                        position: absolute;
                    }
                    /*Transparencia*/
                    li div{
                        height: 100%;
                        width: 100%;
                        background: rgba(245, 238, 238, 0.1);
                        transform: skewX(30deg);
                    }
                        /*Efecte amb el mouse*/
                        li div:hover{
                            transition: transform 0.8s ease-in-out;
                            transform: scale(4);
                        }
                        /*Animacio inicial*/
                        @keyframes IT{
                            0%{transform: translateX(-70vh);animation-timing-function: ease-out;animation-delay: 1s;}
                            100%{transform: translateX(0)}
                        }
                        @keyframes A{
                            0%{transform: translateY(100vh);animation-timing-function: ease-out; animation-delay: 1.1s;}
                            100%{transform: translateY(0))}
                        }
                        @keyframes CA{
                            0%{transform: translateY(-100vh);animation-timing-function: ease-out; animation-delay: 1.2s;}
                            100%{transform: translateY(0)}
                        }
                        @keyframes DE{
                            0%{transform: translateY(100vh);animation-timing-function: ease-out;animation-delay: 1.3s;}
                            100%{transform: translateY(0)}
                        }
                        @keyframes MY{
                            0%{transform: translateX(70vh);animation-timing-function: ease-out;animation-delay: 1.4s;}
                            100%{transform: translateY(0)}
                        }







